* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common styles */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* header */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* hero */

.hero {
  padding: 57px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .content-block {
  width: 52%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .media-block .hero-sumary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
  display: flex;
  align-items: center;
}

.hero-sumary .item + .item {
  margin-top: 22px;
}

.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-sumary .icon2 {
  background-color: #fcefff;
}

.hero-sumary .icon3 {
  background-color: #ebeaff;
}

.hero-sumary .info {
  margin-left: 16px;
}

.hero-sumary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-sumary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* hero right */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}

.hero .stats strong + strong {
  margin-left: 28px;
}

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .control-btn {
  display: flex;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.dong1 h3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.cost-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.cost-item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.dong1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-left: 22px;
  margin-right: 22px;
}

.dong1 .rating {
  display: flex;
  align-items: center;
}

.dong2 .desc {
  margin-top: 6px;
  margin-left: 22px;
  margin-right: 22px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
  width: 326px;
}

.dong1 span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-left: 6px;
}

.dong3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-left: 22px;
  margin-right: 22px;
  padding-bottom: 22px;
}

.dong3 span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  align-items: flex-start;
}

.dong3 .btn {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
  width: 118px;
  height: 50px;
}

.dong3 .btn:hover {
  border-radius: 25px;
  background: #ffb900;
  cursor: pointer;
  border: none;
}

/* triet ly */

.trietly {
  margin-top: 104px;
  background-color: #2e2100;
  padding-top: 96px;
  padding-bottom: 96px;
}

.in4 .anhmat {
  border-radius: 72px;
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.in4 .ten {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
  margin-top: 18px;
}

.in4 .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.in4 .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

.in4 .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.in4 .dot.active {
  background-color: var(--primary-color);
}

.trietly .main-content {
  display: flex;
}

.body-trietly {
  background-color: #2e2100;
  display: flex;
}

.daoly .desc {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}

.daoly {
  width: 66%;
  margin-left: auto;
}

/* gioi thieu */

.gioithieu {
  margin-top: 200px;
}

.anhgioithieu img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.anhgioithieu {
  display: flex;
}

.anhgioithieu .anh1 {
  margin-top: 34px;
}

.anhgioithieu .anh2 {
  margin-left: 30px;
}

.gioithieu1,
.gioithieu2 {
  display: flex;
}

.gioithieu1 .thongtin-gt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 41%;
  margin-left: auto;
}

.gioithieu1,
.gioithieu2 .thongtin-gt p {
  margin-top: 16px;
}

.gioithieu1 .thongtin-gt .btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border: none;
}

.thongtin-gt .btn:hover {
  background: var(--primary-color);
  cursor: pointer;
  border: none;
}

.gioithieu2 {
  margin-top: 200px;
  display: flex;
}

.gioithieu2 .anh3 {
  width: 470px;
  height: 440px;
  object-fit: cover;
}

.gioithieu2 .thongtin-gt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 49%;
  margin-right: auto;
}

.gioithieu2 .thongtin-gt .btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border: none;
}

/* blog */

.blog {
  padding: 96px;
  margin-top: 104px;
  background-color: #fffcf4;
}

.blog-content .tieude {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blog-content .tieude .desc {
  margin-top: 16px;
}

.noidung {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.noidung-blog img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.noidung .noidung-blog {
  width: 370px;
  padding-bottom: 28px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.noidung-blog .dot {
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.noidung-blog .dongthunhat {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 20px;
  margin-top: 20px;
}

.noidung-blog .dongthunhat .desc {
  font-size: 1.4rem;
}

.noidung-blog .gachngang {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin-left: 20px;
  margin-top: 12px;
}

.noidung-blog h3 {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.noidung-blog .btn.read {
  width: 118px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin-left: 20px;
  margin-top: 12px;
}

.noidung-blog .btn.read:hover {
  background: var(--primary-color);
  cursor: pointer;
  border: none;
}

.blog-content .dots {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 6px;
}

.blog-content .dott {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}

.blog-content .dott:hover {
  background-color: var(--primary-color);
}

/* footer */

.footer {
  background-color: #2e2100;
  padding-bottom: 28px;
}

.footer-body {
  display: flex;
}

.footer-body > * {
  margin-top: 96px;
  width: 21.6%;
}

.footer-body p {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-body h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.thuonghieu {
  width: 35%;
}

.thuonghieu .desc {
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  margin-top: 18px;
}

.footer-body .gachchan {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin-top: 14px;
  margin-bottom: 16px;
}

.footer-body > div:nth-child(n + 2) p {
  margin-top: 12px;
}

.diachi strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.87; /* 185.714% */
}

.thuonghieu .logo{
  display: flex;
  margin-top: 18px;
  gap: 18px;
}

.main-content .end{
  height: 1px;
  background-color: #59554b;
  margin-top: 58px;
}

.main-content .copyr{
  text-align: center;
  margin-top: 28px;
}

